<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class
				name="automationTestcases.TC_005_Registration_Radio_Button" />
			<class
				name="automationTestcases.TC_010_Facebook_Mouse_Operations" />
			<class
				name="automationTestcases.TC_004_Registration_Button_Link" />
			<class name="automationTestcases.TC_014_Login_Wait_Explicit" />
			<class name="automationTestcases.TC_011_Mouse_Move_ToElement" />
			<class
				name="automationTestcases.TC_013_Registration_DropDown_List" />
			<class
				name="automationTestcases.TC_006_Registration_DropDown_List" />
			<class
				name="automationTestcases.TC_009_Facebook_Login_Keyboard_Multiple_Keys" />
			<class
				name="automationTestcases.TC_007_Registration_FetchData_FromBrowser" />
			<class
				name="automationTestcases.TC_008_Facebook_Login_Keyboard_Single_Key" />
			<class
				name="automationTestcases.TC_001_Registration_Functionality" />
			<class
				name="automationTestcases.TC_012_Keyboard_And_Mouse_Operation" />
			<class name="automationTestcases.TC_003_Registration_TextBoxes" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
